[Unit]
Description=Starts script for VkAnkiBot
After=syslog.target
After=network.target
After=multi-user.target
After=docker.service

[Service]
Type=idle
PIDFile=/run/service.pid
WorkingDirectory=/home/admin/VkAnkiBot

ExecStart=/usr/local/bin/vkankibot.sh
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
TimeoutSec=300

[Install]
WantedBy=multi-user.target
